<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>





<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope=col>Title</th>
            <th scope=col>Price</th>
            <th scope=col>Edit</th>
        </tr>

        <tbody>
            <tr *ngFor="let product of filteredProducts">
                <td>{{ product.payload.val().title }}</td>
                <td>{{ product.payload.val().price }}</td>
                <td>
                    <a [routerLink]="['/admin/products/',product.key]">Edit</a>
                </td>
            </tr>
        </tbody>
    
</table>